# movies/aligner.py: 16,17
# movies/aligner_BASE_1117.py: 16,17
# movies/aligner_BASE_792.py: 16,17
# movies/aligner_LOCAL_1117.py: 16,17
# movies/aligner_LOCAL_792.py: 16,17
# movies/aligner_REMOTE_1117.py: 16,17
# movies/aligner_REMOTE_792.py: 16,17
fuzzy_match == 0.0.1

# movies/aligner.py: 18
# movies/aligner_BASE_1117.py: 18
# movies/aligner_BASE_792.py: 18
# movies/aligner_LOCAL_1117.py: 18
# movies/aligner_LOCAL_792.py: 18
# movies/aligner_REMOTE_1117.py: 18
# movies/aligner_REMOTE_792.py: 18
fuzzywuzzy == 0.18.0

# movies/aligner.py: 12
# movies/aligner_BASE_1117.py: 12
# movies/aligner_BASE_792.py: 12
# movies/aligner_LOCAL_1117.py: 12
# movies/aligner_LOCAL_792.py: 12
# movies/aligner_REMOTE_1117.py: 12
# movies/aligner_REMOTE_792.py: 12
# movies/string_comparison.py: 1
jellyfish == 0.8.2

# movies/aligner.py: 13,14
# movies/aligner_BASE_1117.py: 13,14
# movies/aligner_BASE_792.py: 13,14
# movies/aligner_LOCAL_1117.py: 13,14
# movies/aligner_LOCAL_792.py: 13,14
# movies/aligner_REMOTE_1117.py: 13,14
# movies/aligner_REMOTE_792.py: 13,14
nltk == 3.6.1
